<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SocialBetwork</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="container-fluid">
            <li class="nav-item">
              <form class="d-flex">
                <input class="form-control me-1" type="search" placeholder="Search" style="width: 20rem;" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          </div>
          <div class="container-fluid">
            <li class="nav-item">
              <button class="btn btn-outline-success" type="submit" style="width: 12rem;"><i class="fa fa-upload"></i> Upload</button>
            </li>
          </div>
          <div class="container-fluid">
            <li class="nav-item">
              <div class="btn btn-outline-success disable" type="submit"><i class="fa fa-user"></i></div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <hr>

  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">Video</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">People</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">Document</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">Event</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">Comunities</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">Favorite</div>
    <div class="p-2 bd-highlight">/</div>
    <div class="p-2 bd-highlight">Channel</div>
  </div>
  <hr>
</div>
