<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="col">
        <app-main-videos></app-main-videos>
      </div>
      <div class="col">
        <app-main-people></app-main-people>
      </div>
      <div class="col">
        <app-main-document></app-main-document>
      </div>
    </div>
    <div class="col-sm-4">
      <app-side-bar-activity></app-side-bar-activity>
      <app-side-bar-channel></app-side-bar-channel>>
    </div>

  </div>
  </div>
