<h4>People</h4>
<div class="container">
  <div class="row">

    <ng-container  *ngFor="let user of listUser ; let i=index">
      <div class="col-md-8 col-sm-6 col-xs-12 mw-100 h-100" *ngIf="i == 0">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col" style="height: 120px;">
                <img src="{{user.avatar_url}}" width="60" height="60" alt="">
              </div>
              <div class="col">
                <p class="card-text"> {{user.login}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 mw-100 h-100" *ngIf="i >0 && i <= 5">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <img src="{{user.avatar_url}}" width="60" height="60" alt="">
              </div>
              <div class="col">
                <p class="card-text"> {{user.login}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>
